{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "none",
    "printWidth": 140,
    "bracketSpacing": true,
    "proseWrap": "always",
    "quoteProps": "as-needed"
  }